@mixin flex($direction: row, $justify: flex-start, $align: flex-start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  align-content: flex-start;
}

@mixin media-query($bp: "xs") {
  @media screen and (min-width: map-get($break-points, $bp)) {
    @content;
  }
}