.playlist-card {
  min-height: 10rem;
}
.playlist-modal {
  width: 70vw;
  max-height: 24rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  & li > button {
    border: 2px solid transparent;
  }
  & li > button:hover {
    border: 2px solid map-get($background-colors, "primary" );
  }
}

@media screen and (min-width: 480px) {
  .playlist-card {
    min-height: 8rem;
  }
  .playlist-modal {
    width: 60vw;
  }
}

@media screen and (min-width: 640px) {
  .playlist-card {
    min-height: 8rem;
  }
  .playlist-modal {
    width: 24rem;
  }
}
