.playlist-card {
  height: 8rem;
}
.playlist-modal {
  width: 90vw;
  max-height: 25rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  & li button {
    border: 2px solid transparent;
  }
  & li button:hover {
    border: 2px solid map-get($background-colors, "primary" );
  }
}

@media screen and (min-width: 480px) {
  .playlist-card {
    height: 6rem;
  }
  .playlist-modal {
    width: 60vw;
  }
}

@media screen and (min-width: 640px) {
  .playlist-card {
    height: 6rem;
  }
  .playlist-modal {
    width: 25rem;
  }
}
