.category-container {
  height: 5rem;
}
.video-container {
  display: grid;
  align-content: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  & .video-card {
    height: 18rem;
  }
}
