@import "../helpers/maps";
@import "../helpers/mixins";
* {
  margin: 0;
  padding: 0;
  font-family: $font-primary;
  font-size: inherit;
  font-weight: map-get($font-weights, "regular");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
:root {
  font-size: 16px;
  scroll-behavior: smooth;
}
button {
  border: none;
  background-color: inherit;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
  &:focus {
    outline: none;
  }
}
h1 {
  font-size: map-get($font-sizes, "xl");
}
h2 {
  font-size: map-get($font-sizes, "lg");
}
h3 {
  font-size: map-get($font-sizes, "md");
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

$base-size: 8;
@each $bp, $value in $break-points {
  @include media-query($bp) {
    :root {
      font-size: #{$base-size}px;
    }
  }
  $base-size: $base-size + 2;
}

::-webkit-scrollbar {
  appearance: none;
  -webkit-appearance: none;
}
* {
  scrollbar-width: none;
}

input {
  background-color: transparent;
  border: none;
  color: inherit;
  &:focus {
    outline: none;
  }
  &:-webkit-autofill {
    -webkit-text-fill-color: map-get($text-colors, "light");
    box-shadow: inset 0 0 0 32px map-get($background-colors, "secondary") !important;
  }
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  font-family: inherit;
  color: map-get($text-colors, "primary");
  width: 1rem;
  height: 1rem;
  border: 0.1875rem solid map-get($text-colors, "primary");
  box-shadow: $shadow-light;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
input[type="radio"]::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: map-get($text-colors, "primary");
  transform-origin: center;
  transition: 150ms;
}
input[type="radio"]:checked::before {
  transform: translate(-50%, -50%) scale(1);
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  font: inherit;
  color: map-get($text-colors, "primary");
  width: 1.2rem;
  height: 1.2rem;
  border: 0.1875rem solid map-get($text-colors, "primary");
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  transition: 150ms;
}
input[type="checkbox"]:checked::before {
  position: absolute;
  content: "";
  width: 0.4rem;
  height: 0.7rem;
  border-bottom: 0.1875rem solid map-get($background-colors, "primary");
  border-right: 0.1875rem solid map-get($background-colors, "primary");
  border-bottom-right-radius: 2px;
  transform: rotate(45deg) translate(0.2rem, -0.2rem);
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 0.5rem;
  background-color: $border-medium;
  border-radius: map-get($border-radii, "sm");
  cursor: pointer;
}

@media screen and (min-width: 640px) {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-track {
    background-color: map-get($background-colors, "secondary");
  }
  ::-webkit-scrollbar-thumb {
    background-color: map-get($background-colors, "primary");
    border-radius: map-get($border-radii, "xl");
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: map-get($background-colors, "primary")
      map-get($background-colors, "secondary");
  }
}
